{% extends "header_footer.html" %}
{% block content %}
{% load static %}
    <!-- about section -->

    <section class="about_section layout_padding ">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  About Our TasteWaves
                </h2>
            <div>
    <p>TasteWaves Coffee, we're on an unwavering mission to deliver the most exquisite coffee experience. Our meticulously chosen coffee beans are procured from the world's most renowned coffee origins, where each bean is cultivated with dedication and precision.</p>

    <p>From the moment you unseal the bag, you'll be welcomed by an enchanting fragrance that promises an exceptional journey. Our master roasters, with their skillful expertise, transform these beans into a symphony of flavors that dance on your palate.</p>

    <p>Every cup of TasteWaves coffee is a diverse tapestry of flavor notes – from the robust, smoky depths of our dark roast to the lively, vibrant character of our light roast. Whether you favor the bold warmth of a French Roast or the nuanced grace of a Single Origin, our coffee will inspire your senses.</p>

    <p>We are strong advocates for sustainability and ethical sourcing, ensuring that every sip of TasteWaves coffee supports the livelihood of coffee farmers and the environment. Our dedication to quality, flavor, and responsibility sets us apart.</p>

    <p>Awaken your senses and elevate your coffee experience. Join us on a journey where every cup is a celebration of flavor, culture, and the joy of life. Welcome to the world of TasteWaves Coffee.</p>
</div>

          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="{% static 'images/about-img.jpg' %}" alt=""> 
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->

{% endblock content %}